{% extends 'layout/layout.html.twig' %}

{% set page_title = 'Project create' %}

{% block content %}
    {% include 'common/page_header.html.twig' with {
        links: [
            {
                url: path('app_project_list'),
                label: 'Project list'
            }
        ]
    } %}

    {{ form.begin() }}
    <div class="row justify-content-center">

        <div data-controller="project-code"
             class="col-4 d-flex flex-column justify-content-center"
             style="height: 60vh;"
        >
            {{ form.field('name') }}

            {{ form.field('code') }}

            {{ form.field('type') }}

            <input type="submit" value="Create" class="btn btn-primary btn-lg mt-3">
        </div>
    </div>
    {{ form.end() }}
{% endblock %}
