{% extends 'layout/project_layout.html.twig' %}

{% set page_title = 'Room' %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-12">
                {% include 'common/project_page_header.html.twig' %}
            </div>
        </div>

        <div data-controller="room--poker confirm-modal"
             data-room--poker-url-value="{{ websocketUrl }}"
             data-room--poker-search-issue-url-value="{{ path('app_project_room_search_issues', {
                 id: project.id,
                 roomId: room.id
             }) }}"
             data-room--poker-add-issue-url-value="{{ path('app_project_room_add_issue', {
                 id: project.id,
                 roomId: room.id
             }) }}"
             data-room--poker-set-tab-url-value="{{ path('app_user_settings_set_room_tab') }}"
             class="row"
        >
            <div class="col-md-7">
                <div data-room--poker-target="issueLoader" class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div data-room--poker-target="issueContent">
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div data-controller="tab" class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <button class="nav-link {{ html_classes({'active': tab == 'users'}) }}"
                                        data-bs-target="#users"
                                        data-tab-target="tab"
                                        data-action="room--poker#changeTab"
                                        data-room--poker-tab-param="users"
                                >
                                    Users
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link {{ html_classes({'active': tab == 'issues'}) }}"
                                        data-bs-target="#issues"
                                        data-tab-target="tab"
                                        data-action="room--poker#changeTab"
                                        data-room--poker-tab-param="issues"
                                >
                                    Issues
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane" id="users">
                                <div class="row row-gap-2 mb-3">
                                    <h3 class="text-center">Bet</h3>
                                    {% for storyPoint in recommendedStoryPoints %}
                                        <div class="col d-flex justify-content-center ">
                                            <button class="btn btn-outline-primary"
                                                    data-action="room--poker#bet"
                                                    data-room--poker-target="betButton"
                                                    data-room--poker-value-param="{{ storyPoint }}"
                                            >
                                                {{ storyPoint }}
                                            </button>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="d-flex gap-2">
                                    <button class="btn btn-primary mb-2 w-100"
                                            data-action="room--poker#showBets"
                                    >
                                        Show
                                    </button>
                                    <button class="btn btn-primary mb-2 w-100"
                                            data-action="room--poker#resetBets"
                                    >
                                        Reset
                                    </button>
                                </div>
                                <hr>
                                <h3 data-room--poker-target="storyPointAverage" class="text-center"></h3>
                                <ul data-room--poker-target="userContainer" class="list-group">
                                </ul>
                            </div>
                            <div id="issues"
                                 class="tab-pane"
                            >
                                <select data-room--poker-target="issueSelect"
                                        class="flex-fill"
                                >
                                </select>
                                <ul data-room--poker-target="issueContainer"
                                    class="list-group mt-3 overflow-auto"
                                    style="max-height: 65vh"
                                >
                                    {% for issue in roomIssues %}
                                        <li data-action="click->room--poker#changeIssue"
                                            data-room--poker-id-param="{{ issue.id }}"
                                            data-room--poker-story-points-param="{{ issue.storyPoints }}"
                                            data-room--poker-url-param="{{ path('app_project_room_issue_view', {
                                                id: project.id,
                                                roomId: room.id,
                                                issueId: issue.id
                                            }) }}"
                                            data-room--poker-remove-url-param="{{ path('app_project_room_remove_issue', {
                                                id: project.id,
                                                roomId: room.id,
                                                issueId: issue.id
                                            }) }}"
                                            data-room--poker-target="issue"
                                            class="list-group-item strw-clickable d-flex justify-content-between align-items-center {{ html_classes({
                                                'active': loop.index == 1,
                                            }) }}"
                                        >
                                            <p>
                                                {{ issue.prefixCodeTitle }}
                                                <span class="strw-issue-story-points">
                                                    ({{ issue.storyPoints ? issue.storyPoints ~ ' story points' : 'none' }})
                                                </span>
                                            </p>
                                            <button class="strw-room-issue-remove-button btn btn-danger"
                                                    data-action="confirm-modal#open"
                                                    data-confirm-modal-callback-param="room--poker#removeIssue"
                                                    data-confirm-modal-callback-attribute-param="data-room--poker-issue-id-param"
                                                    data-confirm-modal-callback-value-param="{{ issue.id }}"
                                            >
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <template data-room--poker-target="userTemplate">
                <div data-room--poker-target="user"
                     class="list-group-item d-flex justify-content-between align-items-center"
                >
                    <button class="btn btn-primary strw-poker-bet"><i class="bi bi-question-circle"></i></button>
                    <strong class="strw-poker-user-name"></strong>
                </div>
            </template>
            <template data-room--poker-target="issueTemplate">
                <li data-room--poker-id-param=""
                    data-room--poker-story-points-param=""
                    data-room--poker-url-param=""
                    data-room--poker-remove-url-param=""
                    data-room--poker-target="issue"
                    class="list-group-item strw-clickable d-flex justify-content-between align-items-center"
                >
                    <div class="strw-loader d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <p>
                        <span class="strw-issue-story-points">
                        </span>
                    </p>
                    <button class="strw-room-issue-remove-button btn btn-danger d-none"
                            data-action="confirm-modal#open"
                            data-confirm-modal-callback-param="room--poker#removeIssue"
                            data-confirm-modal-callback-attribute-param="data-room--poker-issue-id-param"
                            data-confirm-modal-callback-value-param=""
                    >
                        <i class="bi bi-trash"></i>
                    </button>
                </li>
            </template>
            {% include 'common/confirm_modal.html.twig' %}
        </div>
    </div>
{% endblock %}
