{% extends 'layout/project_layout.html.twig' %}

{% set page_title = 'Room' %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-12">
                {% include 'common/project_page_header.html.twig' %}
            </div>
        </div>

        <div data-controller="room--poker"
             data-room--poker-url-value="{{ websocketUrl }}"
             class="row"
        >
            <div class="col-md-9">
                <div data-room--poker-target="issueLoader" class="d-flex justify-content-center d-none">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div data-room--poker-target="issueContent">
                    {% include 'room/room_issue_view.html.twig' with {issue: roomIssues[0]} %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div data-controller="tab" class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <button class="nav-link active"
                                        aria-current="true"
                                        data-bs-target="#users"
                                        data-tab-target="tab"
                                >
                                    Users
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link"
                                        data-bs-target="#issues"
                                        data-tab-target="tab"
                                >
                                    Issues
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="users">
                                <div class="row row-gap-2 mb-3">
                                    <h3 class="text-center">Bet</h3>
                                    {% for storyPoint in availableStoryPoints %}
                                        <div class="col d-flex justify-content-center ">
                                            <button class="btn btn-outline-primary"
                                                    data-action="room--poker#bet"
                                                    data-room--poker-target="betButton"
                                                    data-room--poker-value-param="{{ storyPoint }}"
                                            >
                                                {{ storyPoint }}
                                            </button>
                                        </div>
                                    {% endfor %}
                                </div>
                                <button class="btn btn-primary mb-2 w-100"
                                        data-action="room--poker#showBets"
                                >
                                    Show bets
                                </button>
                                <hr>
                                <ul data-room--poker-target="userContainer" class="list-group">
                                </ul>
                            </div>
                            <div class="tab-pane" id="issues">
                                <ul class="list-group">
                                    {% for issue in roomIssues %}
                                        <li data-action="click->room--poker#changeIssue"
                                            data-room--poker-id-param="{{ issue.id }}"
                                            data-room--poker-url-param="{{ path('app_project_room_issue_view', {
                                                id: project.id,
                                                roomId: room.id,
                                                issueId: issue.id
                                            }) }}"
                                            data-room--poker-target="issue"
                                            class="list-group-item strw-clickable {{ html_classes({
                                                'active': loop.index == 1
                                            }) }}"
                                        >
                                            {{ issue.prefixCodeTitle }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <template data-room--poker-target="userTemplate">
                <div data-room--poker-target="user"
                     class="list-group-item d-flex justify-content-between align-items-center"
                >
                    <button class="btn btn-primary strw-poker-bet"><i class="bi bi-question-circle"></i></button>
                    <strong class="strw-poker-user-name"></strong>
                </div>
            </template>
        </div>
    </div>
{% endblock %}
