<div data-controller="kanban--move issue--modal"
     data-kanban--move-current-issue-value="{{ currentIssue }}"
     data-kanban--move-disabled-value="{{ disabledSort }}"
     class="row"
>
    {% for column in columns %}
        <div class="col">
            <h4>
                {{ column.name }}
            </h4>
            <hr>
            <div class="strw-kanban-column"
                 data-kanban--move-target="column"
                 data-kanban--move-column-key-param="{{ column.key }}"
            >
                {% for issue in column.items %}
                    <div class="card mb-1 strw-kanban-issue"
                         data-kanban--move-target="issue"
                         data-kanban--move-id-param="{{ issue.id }}"
                         data-kanban--move-issue-url-param="{{ path('app_project_issue_view', {
                             id: project.id,
                             issueCode: issue.code
                         }) }}"
                         data-kanban--move-url-param="{{ path('app_project_kanban_issue_move', {
                             id: project.id,
                             issueCode: issue.code
                         }) }}"
                    >
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-between">
                                {{ issue.code }}
                                <small>{{ issue.type.label }}</small>
                            </h5>
                            <a class="card-text strw-clickable" data-action="issue--modal#show"
                               data-issue--modal-url-param="{{ path('app_project_issue_view_ajax', {
                                   id: project.id,
                                   issueCode: issue.code
                               }) }}"
                               data-issue--modal-link-param="{{ path('app_project_issue_view', {
                                   id: project.id,
                                   issueCode: issue.code
                               }) }}"
                               data-issue--modal-code-param="{{ issue.code }}"
                            >
                                {{ issue.title }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    {% include 'kanban/move_issue_modal.html.twig' %}
    {% include 'issue/issue_modal.html.twig' %}
</div>
