{% extends 'layout/project_layout.html.twig' %}

{% set page_title = 'Backlog' %}

{% block content %}
    <div data-controller="issue--modal backlog--batch">
        {% include 'common/project_page_header.html.twig' %}

        <div class="row mb-3">
            <div class="col-10 d-flex justify-content-between align-items-center">
                <h2>Issues</h2>
                {% if is_granted('ADD_CURRENT_SPRINT_ISSUE', project) %}
                    <div>
                        <div class="dropdown">
                            <button class="btn btn-primary"
                                    data-backlog--batch-target="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    type="button"
                            >
                                Batch
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:void(0);"
                                       data-action="backlog--batch#submit"
                                       data-backlog--batch-url-param="{{ path('app_project_sprint_add_issues', {
                                           id: project.id
                                       }) }}"
                                       class="dropdown-item"
                                    >
                                        Add to sprint
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <form action=""
                              method="post"
                              data-backlog--batch-target="form"
                        >
                        </form>
                    </div>
                {% endif %}
            </div>
            {% if showMetric %}
                <div class="col-2">
                    <h2>Priority</h2>
                </div>
            {% endif %}
            <div class="col-10">
                {% if is_granted('CREATE_ISSUE', project) %}
                    {{ form_start(form) }}

                    <div class="d-flex align-items-start">
                        <div style="width: 74%;">
                            {{ form_row(form.title, {
                                label: false,
                                row_class: 'mb-1',
                                attr: {
                                    placeholder: 'Enter task name'
                                }
                            }) }}
                        </div>
                        <div style="width: 15%; margin-left: 1%;">
                            {{ form_row(form.type, {
                                label: false,
                                row_class: 'mb-1',
                            }) }}
                        </div>
                        <input type="submit" value="Create" class="btn btn-primary" style="width: 9%;margin-left: 1%;">
                    </div>
                    {{ form_end(form) }}
                {% endif %}
                <ul {% if is_granted('SORT_ISSUE', project) %} data-controller="column-sortable"{% endif %}
                        data-sortable-animation-value="150"
                        class="list-group"
                >
                    {% if not pagination.items %}
                        <li class="list-group-item">No issues</li>
                    {% endif %}
                    {% for item in pagination.items %}
                        <li data-sortable-update-url="{{ path('app_project_issue_sort', {
                            id: project.id,
                            issueCode: item.code
                        }) }}" class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                {% if is_granted('ADD_CURRENT_SPRINT_ISSUE', project) %}
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               data-backlog--batch-target="checkbox"
                                               data-action="backlog--batch#toggle"
                                               value="{{ item.id }}"
                                        >
                                    </div>
                                {% endif %}
                                <a href="javascript:void(0);"
                                   data-action="issue--modal#show"
                                   data-issue--modal-url-param="{{ path('app_project_issue_view_ajax', {
                                       id: project.id,
                                       issueCode: item.code
                                   }) }}"
                                   data-issue--modal-code-param="{{ item.code }}"
                                   style="width: 90%"
                                >
                                    {{ item.fullText }}
                                </a>
                                <div class="d-flex gap-2">
                                    {% if is_granted('ADD_CURRENT_SPRINT_ISSUE', project) %}
                                        <div class="dropdown">
                                            <button class="btn btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="/projects/{{ project.id }}/backlog/issues/{{ item.code }}"
                                                       class="dropdown-item"
                                                    >
                                                        View
                                                    </a>
                                                </li>
                                                <li>
                                                    <form action="{{ path('app_project_sprint_add_issues', {
                                                        id: project.id,
                                                    }) }}" method="post">
                                                        <input type="hidden" name="issueIds[]" value="{{ item.id }}">
                                                        <input type="submit" class="dropdown-item" value="Add to sprint">
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if showMetric %}
                <div class="col-2 backlog-metric d-flex flex-column justify-content-around">
                    <h3 class="text-white">Very high</h3>
                    <h3 class="text-white">High</h3>
                    <h3 class="text-white">Moderate</h3>
                    <h3 class="text-white">Low</h3>
                    <h3 class="text-dark">Very low</h3>
                </div>
            {% endif %}
        </div>

        {% if not showAll %}
            <div class="row">
                <div class="col-12 d-flex justify-content-between align-items-start">
                    {{ knp_pagination_render(pagination) }}
                    {% if pagination.totalItemCount > pagination.itemNumberPerPage %}
                        <a href="{{ path('app_project_backlog', {
                            id: project.id,
                            showAll: '1'
                        }) }}" class="btn btn-primary">Show all</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% include 'issue/issue_modal.html.twig' %}
    </div>
{% endblock %}
