{% extends 'layout/layout.html.twig' %}

{% set page_title = 'Profile' %}

{% block content %}

    {% include 'common/page_header.html.twig' %}

    {{ render(path('app_user_profile_menu', {
        currentPath: app.request.pathinfo
    })) }}

    <div class="row">
        <div class="col-md-6">

            {{ form.begin() }}

            {{ form.field('firstName') }}
            {{ form.field('lastName') }}

            <input type="submit" value="Save" class="btn btn-primary">

            {{ form.end() }}
        </div>

        <div class="col-md-2"
             data-controller="profile--avatar confirm-modal"
             data-profile--avatar-url-value="{{ path('app_user_profile_change_avatar') }}"
             data-profile--avatar-image-url-value="{{ path('app_user_profile_show_avatar') }}"
             data-profile--avatar-uploaded-value="{{ profile.avatar ? 'true' : 'false' }}"
        >
            <div data-profile--avatar-target="dropzone"
                 class="strw-avatar-box"
            >
                {% include 'profile/avatar.html.twig' %}
            </div>

            <input type="file"
                   class="d-none"
                   data-profile--avatar-target="fileInput"
                   accept="image/jpeg, image/png"
            >

            {% include 'common/confirm_modal.html.twig' with {
                dialogText: 'Are you sure to remove avatar?'
            } %}
            <div data-profile--avatar-target="modal" class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Crop avatar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img data-profile--avatar-target="cropper"
                                 class="strw-cropper-image w-100"
                                 src=""
                                 alt="Avatar image"
                            >
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button"
                                    class="btn btn-primary"
                                    data-action="profile--avatar#upload"
                            >
                                Upload
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
