{% if isPreviousStoryPointsVisible %}
<div class="card mb-3">
    <div class="card-header">
        Previous story points
    </div>
    <div class="card-body">
        {{ issue.previousStoryPoints }}
    </div>
</div>
{% endif %}
<div data-controller="issue--story-points"
     data-issue--story-points-issue-id-value="{{ issue.id }}"
     data-issue--story-points-issue-events-outlet="#issue-events"
     data-issue--story-points-url-value="{{ path('app_project_issue_story_points_set', {
         id: project.id,
         issueCode: issue.code
     }) }}"
     class="card mb-3"
>
    <div class="card-header d-flex justify-content-between align-items-center">
        Story points
        {% if isIssueEditable and issue.canEditStoryPoints and is_granted('STORY_POINTS_SET', project) %}
            <button class="btn btn-primary"
                    data-issue--story-points-target="button"
                    data-action="issue--story-points#toggle"
            >
                <i class="bi bi-pencil"></i>
            </button>
        {% endif %}
    </div>
    <div class="card-body">
        <p data-issue--story-points-target="textContainer" class="mb-0">
            {% if issue.storyPoints %}
                {{ issue.storyPoints }}
            {% else %}
                None
            {% endif %}
        </p>
        <div data-issue--story-points-target="selectContainer" style="display: none;">
            <select data-issue--story-points-target="select">
                <option value="none">None</option>
                {% for storyPoint in storyPoints %}
                    <option value="{{ storyPoint }}">
                        {{ storyPoint }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
