{% extends 'layout/project_layout.html.twig' %}

{% set page_title = 'Sprint ' ~ sprint.number %}

{% block content %}
    <div data-controller="confirm-modal sprint--sort sprint--edit-goal">
        <div class="row">
            <div class="col-12">
                {% include 'common/project_page_header.html.twig' %}
                <div class="row">
                    <div class="col-md-3">
                        {{ form_start(startSprintForm) }}
                        {{ form_row(startSprintForm.estimatedEndDate) }}
                        <button type="submit" class="btn btn-primary">Start sprint</button>
                        {{ form_end(startSprintForm) }}
                    </div>
                </div>

                <hr>
                <h4>Sprint goals</h4>
                <ul class="list-group mt-3" data-sprint--sort-target="goals">
                    {% for goal in sprintGoals %}
                        <li class="list-group-item bg-body-tertiary"
                            data-sprint--sort-goal-url-param="{{ path('app_project_sprint_sort_goal', {
                                id: project.id,
                                goalId: goal.id
                            }) }}"
                        >
                            <div class="d-flex justify-content-between align-items-center">
                                <div data-sprint--edit-goal-target="goal"
                                     data-sprint--edit-goal-id-param="{{ goal.id }}"
                                >
                                    {{ goal.name }}
                                </div>
                                <div>
                                    {% if is_granted('EDIT_SPRINT_GOAL', project) %}
                                        <button type="button"
                                                data-action="sprint--edit-goal#showModal"
                                                data-sprint--edit-goal-id-param="{{ goal.id }}"
                                                data-sprint--edit-goal-url-param="{{ path('app_project_sprint_edit_goal', {
                                                    id: project.id,
                                                    goalId: goal.id
                                                }) }}"
                                                class="btn btn-secondary"
                                        >
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                    {% endif %}
                                    {% if is_granted('REMOVE_CURRENT_SPRINT_GOAL', project) and goal.canBeRemoved %}
                                        <button data-confirm-modal-url-param="{{ path('app_project_sprint_remove_goal', {
                                            id: project.id,
                                            goalId: goal.id
                                        }) }}"
                                                data-confirm-modal-id-param="remove-goal"
                                                data-action="confirm-modal#open"
                                                class="btn btn-danger"
                                        >
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                            <ul data-sprint--sort-target="issues"
                                data-sprint--sort-goal-id-param="{{ goal.id }}"
                                class="list-group mt-2"
                            >
                                {% for goalIssue in goal.sprintGoalIssues %}
                                    <li data-sprint--sort-issue-sort-url-param="{{ path('app_project_sprint_move_issue', {
                                            id: project.id,
                                            issueCode: goalIssue.issue.code
                                        }) }}"
                                        class="list-group-item d-flex justify-content-between align-items-center"
                                    >
                                        <div>
                                            <p class="mb-0">
                                                <a href="{{ path('app_project_issue_view', {
                                                    id: project.id,
                                                    issueCode: goalIssue.issue.code
                                                }) }}">
                                                    {{ goalIssue.issue.fullText }}
                                                </a>
                                                &nbsp;
                                                <span class="{{ goalIssue.issue.isEstimated ? 'text-success' : 'text-danger' }}"
                                                      title="{{ goalIssue.issue.countEstimated }} issues estimated"
                                                >
                                                    [{{ goalIssue.issue.storyPoints ? goalIssue.issue.storyPoints ~ ' story points' : 'not estimated' }}]
                                                </span>
                                            </p>
                                        </div>
                                        {% if is_granted('REMOVE_CURRENT_SPRINT_ISSUE', project) %}
                                            <button type="submit"
                                                    class="btn btn-danger"
                                                    data-action="confirm-modal#open"
                                                    data-confirm-modal-id-param="remove-issue"
                                                    data-confirm-modal-url-param="{{ path('app_project_sprint_remove_issue', {
                                                        id: project.id,
                                                        issueCode: goalIssue.issue.code
                                                    }) }}"
                                            >
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    <li class="list-group-item bg-body-tertiary">
                        {{ form_start(sprintGoalForm) }}
                        <div class="d-flex align-items-start">
                            <div style="width: 90%;">
                                {{ form_row(sprintGoalForm.name, {
                                    label: false,
                                    row_class: 'mb-1',
                                    attr: {
                                        placeholder: 'Enter new sprint goal'
                                    }
                                }) }}
                            </div>
                            <input type="submit" value="Add" class="btn btn-primary" style="width: 9%;margin-left: 1%;">
                        </div>
                        {{ form_end(sprintGoalForm) }}
                    </li>
                </ul>
            </div>
        </div>
        {% include 'sprint/edit_goal_modal.html.twig' %}
        {% include 'common/confirm_modal.html.twig' with {
            dialogText: 'Are you sure to remove this issue from sprint?',
            id: 'remove-issue'
        } %}
        {% include 'common/confirm_modal.html.twig' with {
            dialogText: 'Are you sure to remove this goal from sprint?',
            id: 'remove-goal'
        } %}
    </div>
{% endblock %}
