{# templates/site/forgot-password.html.twig #}
{% extends 'site/common.html.twig' %}

{% set page_title = 'Forgot password' %}

{% block content %}
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                 class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <h1 class="mb-2">{{ page_title }}</h1>
            {{ form_start(form) }}
                <!-- Email input -->
                <div class="form-outline mb-4">
                    {{ form_widget(form.email, {'attr': {
                        'class': 'form-control form-control-lg',
                        'placeholder': 'Enter a valid email address',
                    }}) }}
                    {{ form_label(form.email, 'Email', {'attr': {
                        'class': 'form-label'
                    }}) }}
                    {{ form_errors(form.email) }}
                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                    <button  type="submit" class="btn btn-primary btn-lg"
                             style="padding-left: 2.5rem; padding-right: 2.5rem;">Send</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
