{# templates/site/reset_password.html.twig #}
{% extends 'site/common.html.twig' %}

{% set page_title = 'Reset password' %}

{% block content %}
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                 class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <h1 class="mb-2">{{ page_title }}</h1>
            {{ form.begin() }}
            {{ form.field('email') }}
            {{ form.field('resetPasswordCode') }}

            {{ form.field('password') }}
            {{ form.field('repeatPassword') }}

            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg px-2">Reset</button>
            </div>
            {{ form.end() }}
        </div>
    </div>
{% endblock %}
