{# templates/site/register.html.twig #}
{% extends 'site/common.html.twig' %}

{% set page_title = 'Reset password' %}

{% block content %}
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                 class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <h1 class="mb-2">{{ page_title }}</h1>
            {{ form_start(form) }}
                <!-- Password input -->
                <div class="form-outline mb-3">
                    {{ form_widget(form.password.first, {'attr': {
                        'class': 'form-control form-control-lg',
                        'placeholder': 'Enter password',
                    }}) }}
                    {{ form_label(form.password.first, 'Password', {'attr': {
                        'class': 'form-label'
                    }}) }}
                    {{ form_errors(form.password.first) }}
                </div>
            <div class="form-outline mb-3">
                {{ form_widget(form.password.second, {'attr': {
                    'class': 'form-control form-control-lg',
                    'placeholder': 'Confirm password',
                }}) }}
                {{ form_label(form.password.second, 'Confirm password', {'attr': {
                    'class': 'form-label'
                }}) }}
                {{ form_errors(form.password.second) }}
            </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                    <button  type="submit" class="btn btn-primary btn-lg"
                             style="padding-left: 2.5rem; padding-right: 2.5rem;">Reset</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
