<div class="row mt-3">
    <div class="col-12">
        <h1>{{ page_title }}</h1>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_project_kanban', {id: project.id}) }}">Project home</a></li>
                {% for link in links ?? [] %}
                    <li class="breadcrumb-item"><a href="{{ link.url }}">{{ link.label }}</a></li>
                {% endfor %}
                <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
            </ol>
        </nav>
        <hr>
    </div>
</div>
