<table class="table table-bordered mb-3">
    <thead>
    <tr>
        {% for column in table.columns %}
            {% if column.sortField %}
                <th>{{ knp_pagination_sortable(table.pagination, column.label, column.sortField)  }}</th>
            {% else %}
                <th>{{ column.label }}</th>
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% if table.isEmpty %}
        <tr>
            <td colspan="{{ table.columnCount }}" class="text-center">No records</td>
        </tr>
    {% endif %}
    {% for item in table.items %}
        <tr>
            {% for column in table.columns %}
                {% if column.stripTags %}
                    <td>{{ table.printItem(item, column) | striptags(column.stripTags) | raw }}</td>
                {% else %}
                    <td>{{ table.printItem(item, column) }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="d-flex">
    {{ knp_pagination_render(table.pagination) }}
</div>
