{% extends 'layout/project_layout.html.twig' %}

{% set page_title = 'Sprint ' ~ sprint.number %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-12">
                {% include 'common/project_page_header.html.twig' with {
                } %}
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Burndown chart
                    </div>
                    <div class="card-body">
                        <canvas data-controller="sprint--burndown-chart"
                                data-sprint--burndown-chart-records-value="{{ chartRecords }}"
                        >
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Issues
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Finished
                                    </th>
                                </tr>
                            </thead>
                            {% for sprintGoal in sprint.sprintGoals %}
                                <tr>
                                    <th colspan="2">
                                        {{ sprintGoal.name }}
                                    </th>
                                </tr>
                                {% for goalIssue in sprintGoal.sprintGoalIssues %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('app_project_issue_view', {
                                                id: project.id,
                                                issueCode: goalIssue.issue.code
                                            }) }}">
                                                {{ goalIssue.issue.fullText }}
                                            </a>
                                        </td>
                                        <td>
                                            {% if goalIssue.isFinished %}
                                                {{ goalIssue.finishedAt | date }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
