<div class="row">
    <div class="col">
        {{ form.begin() }}

        {{ form.field('email') }}

        {{ form.field('firstName') }}

        {{ form.field('lastName') }}

        <input type="submit" value="{{ buttonSubmit }}" class="btn btn-primary">

        {{ form.end() }}
    </div>
</div>
